<section id="navbar">
  <nav id="nav">
    <ul>
      <li class="nav-list home"><a href="/submit">Home</a></li>
      <li class="nav-list"><a href="/">Add an entry</a></li>
    </ul>
  </nav>
</section>
